p{
    text-align: center;
    font-size: 25px;
    color: dimgray;
    padding-top: 4px;
}
.total-payable{
    text-align: left;
    font-size: 20px;
    color: rgb(48, 41, 56) 34, 34;
}
li{
    display: inline;
}
price-details {
    height:500px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(100, 148, 237, 0.274);
}